@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

:root {
  --font-sans: "Inter", --apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --gray1: hsl(0, 0%, 99%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%);
}

.linear [cmdk-root] {
  max-width: 640px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
}

.dark .linear [cmdk-root] {
  background: linear-gradient(136.61deg, #27282b 13.72%, #2d2e31 74.3%);
}

.linear [cmdk-linear-badge] {
  height: 24px;
  padding: 0 8px;
  font-size: 12px;
  color: var(--gray11);
  background: var(--gray3);
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 16px 16px 0;
}

.linear [cmdk-linear-shortcuts] {
  display: flex;
  margin-left: auto;
  gap: 8px;
}

.linear [cmdk-linear-shortcuts] kbd {
  font-family: var(--font-sans);
  font-size: 13px;
  color: var(--gray11);
}

.linear [cmdk-input] {
  font-family: var(--font-sans);
  border: none;
  width: 100%;
  font-size: 18px;
  padding: 20px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);
  border-bottom: 1px solid var(--gray6);
  border-radius: 0;
  caret-color: #6e5ed2;
  margin: 0;
}

.linear [cmdk-input]::-moz-placeholder {
  color: var(--gray9);
}

.linear [cmdk-input]:-ms-input-placeholder {
  color: var(--gray9);
}

.linear [cmdk-input]::placeholder {
  color: var(--gray9);
}

.linear [cmdk-item] {
  content-visibility: auto;
  cursor: pointer;
  height: 48px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  color: var(--gray12);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: background, color;
  transition: all 0.15s ease;
  transition-property: none;
  position: relative;
}

.linear [cmdk-item][aria-selected="true"] {
  background: var(--gray3);
}

.linear [cmdk-item][aria-selected="true"] svg {
  color: var(--gray12);
}

.linear [cmdk-item][aria-selected="true"]:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 123;
  width: 3px;
  height: 100%;
  background: #5f6ad2;
}

.linear [cmdk-item][aria-disabled="true"] {
  color: var(--gray8);
  cursor: not-allowed;
}

.linear [cmdk-item]:active {
  transition-property: background;
  background: var(--gray4);
}

.linear [cmdk-item] + [cmdk-item] {
  margin-top: 4px;
}

.linear [cmdk-item] svg {
  width: 16px;
  height: 16px;
  color: var(--gray10);
}

.linear [cmdk-list] {
  height: min(300px, var(--cmdk-list-height));
  max-height: 400px;
  overflow: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  transition: 0.1s ease;
  transition-property: height;
}

.linear [cmdk-group-heading] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  padding: 0 8px;
}

.linear [cmdk-empty],
.linear [cmdk-group-heading] {
  color: var(--gray11);
  display: flex;
  align-items: center;
}

.linear [cmdk-empty] {
  font-size: 14px;
  justify-content: center;
  height: 64px;
  white-space: pre-wrap;
}
